/* back icon */
.back-icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

/* general */
body {
    font-family: SeoulNamsan, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Make sure the body fills the viewport */
    margin: 0;
    color: #272737;
    
/* Background Image with transparency */
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("images/gradient2.svg");
    background-size: cover;
    background-position: center;
}

/* heading */
.heading-container {
    display: flex;
    width: 295px;
    height: 107px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

h1 {
    text-align: center;
    font-family: Advercase Demo;
    font-size: 64px;
    margin-bottom: 10px; /* Adjust to bring headers closer */
}

h2 {
    font-family: Advercase Demo;
    font-size: 30px;
    margin-top: 5px; /* Adjust as needed */
}

/* main content */
.gif-container {
    margin-top: 50px;
}

.error-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 10px 10px;
}

p {
    font-size: 20px;
    margin: 15px;
    text-align: center;
}

/* buttons */
.button-container {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.explore-button {
        display: flex;
        width: 299px;
        height: 47px;
        padding: 4px 20px;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: #282E4C;
        color: #F8F7F7;
        text-decoration: none;
        text-align: center;
        font-family: SeoulNamsan;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
    }

 /* Optional: Hover effect for the button */
 .explore-button:hover {
    background-color: #3a3f63;
    border-color: #3a3f63;
    transform: scale(1.05); /* Slightly enlarge the button */
}

.home-button {
    color: #272737;
    text-align: center;
    font-family: SeoulNamsan;
    font-size: 20px;
    font-style: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
}

/* star decoration */
.star {
    position: absolute;
}

.star img {
    width: 50px;
    height: 50px;
}

#star1 {
    top: 70%;
    left: 80%;
}