/* back icon */

.back-icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

/* general */
body {
    font-family: 'SeoulHangang CB', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f9f7f7;
  }

/* main content */
.container {
    text-align: center;
}

.cart-header {
    font-family: Advercase Demo, sans-serif;
    font-size: 36px;
    color: #282E4C;
    text-align: center;
    margin-bottom: 100px;
}

/* button */
.explore-button {
    display: flex;
    width: 100%;
    max-width: 300px;
    height: 47px;
    padding: 4px 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #282E4C;
    color: #F8F7F7;
    text-decoration: none;
    text-align: center;
    font-family: SeoulNamsan;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

/* Optional: Hover effect for the button */
    .explore-button:hover {
    background-color: #3a3f63;
    border-color: #3a3f63;
    transform: scale(1.05); /* Slightly enlarge the button */
}

/* star decoration*/
.star {
    position: absolute;
}

.star img {
    width: 35px;
    height: 35px;
}

#star1 {
    top: 20%;
    left: 50%;
}


/* navigation bar */

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background-color: #3E3E53;
    padding: 10px;
    border-radius: 21px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .nav-item {
    position: relative;
    transition: transform 0.3s ease-out;
  }
  
  .nav-item img {
    width: 24px;
    transition: transform 0.3s ease-out;
  }
  
  .nav-item.active {
    transform: translateY(-20px); /* Lift active icon */
  }
  
  .nav-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Start with scale of 0 */
    width: 50px;
    height: 50px;
    background-color: #3E3E53; /* Circle color */
    border-radius: 50%;
    z-index: -1; /* Places the circle behind the icon */
    transition: transform 2s ease-out; /* Smooth expansion */
  }
  
  .nav-item.active::before {
    transform: translate(-50%, -50%) scale(1); /* Expands the circle smoothly */
  }

    /* Media queries */
@media screen and (min-width: 400px) {
  .bottom-nav {
    max-width: 1080px;
  }